    <div class='mt-4 text-center'>
<% if flash[:alert] -%>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
<% else -%>
      <h3><%= @city.name %>の現在の天気</h3>
      <div class="row">
        <div class="col">
          <p><%= weather_icon(@current_weather[:icon_id], @current_weather[:description]) %></p>
          <p><%= @current_weather[:description] %></p>
          <p>
            現在の気温：<%= @current_weather[:temp] %>℃
          </p>
          <p>風速：<%= degree_name(@current_weather[:wind_deg]) %>の風 <%= @current_weather[:wind_speed] %>m/s</p>
        </div>
      </div>

      <p class="mt-3">- Powered by <%= link_to 'OpenWeatherMap', 'https://openweathermap.org/', target: '_blank' %> -</p>
<% end -%>

      <p class="mt-4">
        <%= link_to '都市選択へ戻る', weathers_url, class: 'btn btn-link', role: 'button' %>
        <%= link_to 'TOPへ戻る', root_url, class: 'btn btn-link', role: 'button' %>
      </p>
    </div>
